<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wire.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Wire.Properties.Settings>
            <setting name="Width" serializeAs="String">
                <value>564</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>398</value>
            </setting>
            <setting name="BrojZavoja" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="MaxOdstupanje" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MaxBrojZica" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PovrsinaUtora" serializeAs="String">
                <value>80.1</value>
            </setting>
            <setting name="Presjek" serializeAs="String">
                <value>0.7209</value>
            </setting>
            <setting name="NemaZice" serializeAs="String">
                <value />
            </setting>
            <setting name="Slojnost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="From" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="To" serializeAs="String">
                <value>29</value>
            </setting>
            <setting name="SveKombinacije" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PromjerZice1" serializeAs="String">
                <value />
            </setting>
            <setting name="BrojZica2" serializeAs="String">
                <value />
            </setting>
            <setting name="PromjerZice2" serializeAs="String">
                <value />
            </setting>
            <setting name="BrojZica1" serializeAs="String">
                <value />
            </setting>
            <setting name="Slojnost2" serializeAs="String">
                <value>False</value>
            </setting>
        </Wire.Properties.Settings>
    </userSettings>
</configuration>